@{
    ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-light">@ViewData["Title"] of Web Application</h1>

<div class="text-light fw-bold">
    <h3>Danh sách thành viên:</h3>
    <ul class="redShop" style="border: 4px solid goldenrod; padding: 10px; list-style-type: none;">
        <li>Hoàng Quốc Minh - 2151013053</li>
        <li>Lê Thị Yến My - 2151010230</li>
        <li>Nguyễn Đình Vĩnh - 2151010445</li>
    </ul>
    
</div>
